{% extends "layout.html" %}


{% block content %}
<body>
<div class='container-fluid'>
<div class="row">
{% for row in data %}
<h2 class='text-center col-md-2'> Are you sure you want to delete {{row.name}}? </h2>
{% endfor %}

<div class="col-md-2">
</br></br>
<form action="{{ url_for('deleteItem', data=data, menu_ID=menu_ID, item=item_ID)}}" method = 'post'>

<input type='submit', value ='Delete' class='btn btn-block btn-danger'>
</div>



</form>
<div class="col-sm-2">
</br></br>
<button class='btn btn-info btn-block'><a href = "{{ url_for('menu', menu_ID=menu_ID)}}">Cancel</button></a>
</div>
</div>
</div>
</body>
{% endblock %}