{% extends "layout.html" %}


{% block content %}
<body>
<div class='container-fluid'>
<div class="row">

<h2 class='text-center col-md-2'> Are you sure you want to delete {{i.name}}? </h2>

<div class="col-md-2">
</br></br>
<form action="{{ url_for('deleteMenuItem',restaurant_id = restaurant_id, menu_id=menu_id)}}" method = 'post'>

<input type='submit', value ='Delete' class='btn btn-block btn-danger'>
</div>



</form>
<div class="col-sm-2">
</br></br>
<button class='btn btn-info btn-block'><a href = "{{ url_for('menu', restaurant_id = restaurant_id)}}">Cancel</button></a>
</div>
</div>
</div>
</body>
{% endblock %}