{% extends "layout.html" %}


{% block content %}

<div class='container-fluid'>
<div class="row">
<div class="col-md-16">

<div class="row">

<div class="col-sm-4">
</div>

<div class="col-md-4">
<h1 class="text-center">Edit Menu Item</h1>
</div>
</div>

<form action="{{ url_for('editItem', menu_ID=menu_ID, item=item_ID)}}" method = 'post'>

<div class="row">

<div class="col-sm-4">
</div>

<div class="col-sm-2">
<p>Name:
</div>
<div class="col-sm-2">
<input type='text' size='30' name='name' placeholder='{{name}}'>
</p>
</div>
</div>

<div class="row">

<div class="col-sm-4">
</div>

<div class="col-sm-2">
<p>Price:
</div>
<div class="col-sm-2">
<input type='text' size='30' name='price' placeholder='{{price}}'>
</p>
</div>
</div>

<div class="row">

<div class="col-sm-4">
</div>

<div class="col-sm-2">
<p>Description:
</div>
<div class="col-sm-2">
<input type='text' size='30' name='description' placeholder='{{description}}'>
</p>
</div>
</div>

<div class="col-sm-2">
<p>Course ID:
</div>
<div class="col-sm-2">
<input type='text' size='30' name='course_id' placeholder='{{course_id}}'>
</p>
</div>
</div>
</div>
<div class="row">

<div class="col-sm-4">
</div>

<div class="col-sm-2">
<input type='submit' value='Edit'class='btn btn-block btn-primary'>
</div>

<div class="col-sm-2">
<button class='btn btn-info btn-block'><a href = "{{ url_for('users')}}">Cancel</a></button>
</div>
</div>

</div>
</div>
</div>

</form>

{% endblock %}

