<!doctype html>
<html>

<head>
{% block head %}

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
<title>{% block title %}{% endblock %} Menu Project </title>
{% endblock %}

<style>
body {background-color:white;}

.edititem {color: blue;
font-size: 16px;
}

.delete {color: red;
font-size: 16px;
}
</style>



<body>

<div class="container-fluid">
{% block navigator %}
<div class="row">
<div class="well">

<!-- Selects which menu to use. Menu_id refers to the row of the database containing said menu. -->


<a href = "{{ url_for('menu')}}">Menu</a>
<a href = "{{ url_for('menu')}}">Dinner</a>


</div>
</div>

{% endblock %}

<div id="messages" class="text-center">






{% with messages = get_flashed_messages() %}
{% if messages %}

{% for message in messages %}

<strong> {{ message }} </strong>
{% endfor %}

{% endif %}
{% endwith %}

</div>

<div id="content">


{% block content %}{% endblock %}

</div>

    <div id="footer" class="text-center">
      {% block footer %}
      Footer goes here
      {% endblock %}
    </div>
  </body>
</html>
