{% extends "layout.html" %}


{% block menu %}

<h2 class='text-primary text-center'>{{menu.name}}</h2>
<div class='text-primary text-center'>



</br>


</br>
<a href='{{url_for('newMenuItem', restaurant_id=menu.id)}}'><button class='btn btn-info'><i class="fa fa-plus">  New Item</i></button></a>
</br>

{% for i in items %}

</br>
{{i.name}} <a href='{{url_for('editMenuItem', restaurant_id=menu.id, menu_id=i.id ) }}' class='edititem'><i class="fa fa-wrench"></i></a>
<a href='{{url_for('deleteMenuItem', restaurant_id=menu.id, menu_id=i.id ) }}' class='delete'><i class="fa fa-trash"></i></a>

</br>
{{i.description}} 
</br>
{{i.price}} 
</br>
</br>


{% endfor %}
</div>

{% endblock %}