{% extends "layout.html" %}


{% block content %}

<h2 class='text-primary text-center'> Menu Name</h2>
<div class='text-primary text-center'>



</br>


</br>
<a href='{{url_for('NewItem', menu_ID=menu_ID)}}'><button class='btn btn-info'><i class="fa fa-plus">  New Item</i></button></a>

</br>
{% for row in data %}
    
<li>
{{ row.name }}...{{ row.price }}...<a href='{{url_for('editItem', menu_ID=row.menu_ID, item=row.item_ID) }}' class='edititem'><i class="fa fa-wrench"></i></a>




<a href='{{url_for('deleteItem', menu_ID=row.menu_ID, item=row.item_ID ) }}' class='delete'><i class="fa fa-trash">
</i>
</a>

</li>
{{ row.description }} 
</br>    
</br>
        
    
{% else %}
Nothing to see here

{% endfor %}
</br>




</div>

{% endblock %}