<html>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>

<body>

{% extends "layout.html" %}
{% block content %}

<h1>New Menu Item</h1>


<form action="{{ url_for('NewItem', menu_ID=menu_ID) }}" method="POST">

</p>

<p>Name:
</br>
<input type='text' size='30' name='name'>
</p>

<p>Price:
</br>
<input type='text' size='30' name='price'>
</p>

<p>Course:
</br>
<select size='1' name='course_id'>
<option value="Appetizer">Appetizer</option>
<option value="Entree">Entree</option>
<option value="Dessert">Dessert</option>
</select> 
</p>

<p>Description:
</br>
<textarea name='description' rows="2" cols="31">Item Description</textarea>
</p>

<input type='submit' value='Create'>

</form>

{% endblock %}

</body>
</html>
