<html>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>

<body>

{% extends "layout.html" %}
{% block content %}

<h1>New Menu Item</h1>


<form action="{{ url_for('NewItem') }}" method="POST">

<p>MenuID:
</br>
<input type='text' size='30' name='menu_id'>
</p>

<p>Name:
</br>
<input type='text' size='30' name='name'>
</p>

<p>Price:
</br>
<input type='text' size='30' name='price'>
</p>

<p>Course:
</br>
<input type='text' size='30' name='course_id'>
</p>

<p>Description:
</br>
<input type='text' size='30' name='description'>
</p>

<input type='submit' value='Create'>

</form>

{% endblock %}

</body>
</html>
